server:
  port: ${NOTIFICATION_SERVICE_PORT:8095}
  servlet:
    context-path: /notification

spring:
  application:
    name: notification-service
  data:
    mongodb:
      uri: mongodb://${MONGO_USERNAME:mongodbhrms}:${MONGO_PASSWORD:123456}@${MONGO_HOST:localhost}:${MONGO_PORT:27017}/${NOTIFICATION_SERVICE_DB:NotificationService}?authSource=admin
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://${AUTH0_DOMAIN}
  thymeleaf:
    cache: false
    prefix: classpath:/templates/email/
    suffix: .html

  
  # JavaMail Configuration
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
        debug: true
    default-encoding: UTF-8

logging:
  level:
    "[org.springframework.mail]": DEBUG
    "[com.sun.mail]": DEBUG

notification:
  email:
    from-name: ${EMAIL_FROM_NAME:Notification Service}
