POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MONGO_USERNAME=mongodb
MONGO_PASSWORD=123456
MONGO_HOST=localhost
MONGO_PORT=27017

AUTH0_ISSUER_URI=https://YOUR_DOMAIN/
AUTH0_CLIENT_ID=YOUR_CLIENT_ID
AUTH0_CLIENT_SECRET=YOUR_CLIENT_SECRET
AUTH0_REDIRECT_URI=http://localhost:3000
AUTH0_AUDIENCE=https://your-api-identifier/
AUTH0_DOMAIN=YOUR_DOMAIN

REDIRECT_URL=http://localhost:3000

EMPLOYEE_SERVICE_PORT=8090
EMPLOYEE_SERVICE_DB=EmployeeService

TIMETRACKING_SERVICE_PORT=8091
TIMETRACKING_SERVICE_DB=TimeTrackingService

PAYROLL_SERVICE_PORT=8092
PAYROLL_SERVICE_DB=PayrollService

FILE_SERVICE_PORT=8093
FILE_SERVICE_DB=FileService

NOTIFICATION_SERVICE_PORT=8094
NOTIFICATION_SERVICE_DB=notificationService

